!!! 5
%html
	%head
		%meta{ :charset=>"utf-8"}
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		%title
			Introduction to HAML
		%meta{ :name=>"description", :content=>""}
		%meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1"}
		%link{:rel=>"stylesheet", :href=>"css/patterns.css"}
	%body
		.btn
			Button
		.btn-primary
			Button Primary
		.btn-secondary
			Button Secondary
		.btn-success
			Button Success
		.btn-error
			Button Error
		.btn-primary-large
			Button Primary Large
		.btn-primary-small
			Button Primary Small
		%input{:type=>"text", :placeholder=>"Enter your name"}
		%input{:type=>"text", :placeholder=>"Large input field", :class=>"large"}

