!!! 5
%html
  %head
    %meta{ :charset=>"utf-8"}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title
      Introduction to HAML
    %meta{ :name=>"description", :content=>""}
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %link{:rel=>"stylesheet", :href=>"css/ui-pattern.css"}
  %body
    .members-of-the-team.container
      .team-member
        %img{ :src=>"imgs/avatar.jpg", :class=>"headshot"}
        %h3.name 
          Mike Kivikoski
        %h4.title 
          Your Host
        %p.description
          Bearded instructor teaching UI Development

      .team-member
        %img{ :src=>"imgs/avatar.jpg", :class=>"headshot"}
        %h3.name 
          Mike Kivikoski
        %h4.title 
          Your Host
        %p.description
          Bearded instructor teaching UI Development

      .team-member
        %img{ :src=>"imgs/avatar.jpg", :class=>"headshot"}
        %h3.name 
          Mike Kivikoski
        %h4.title 
          Your Host
        %p.description
          Bearded instructor teaching UI Development

      .team-member
        %img{ :src=>"imgs/avatar.jpg", :class=>"headshot"}
        %h3.name 
          Mike Kivikoski
        %h4.title 
          Your Host
        %p.description
          Bearded instructor teaching UI Development

      .team-member
        %img{ :src=>"imgs/avatar.jpg", :class=>"headshot"}
        %h3.name 
          Mike Kivikoski
        %h4.title 
          Your Host
        %p.description
          Bearded instructor teaching UI Development
          
      .team-member
        %img{ :src=>"imgs/avatar.jpg", :class=>"headshot"}
        %h3.name 
          Mike Kivikoski
        %h4.title 
          Your Host
        %p.description
          Bearded instructor teaching UI Development