/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.original, .darken, .lighten, .saturate, .desaturate, .adjust-hue, .rgba, .tint, .shade, .complement, .grayscale, .mix, .invert {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.original, .darken, .lighten, .saturate, .desaturate, .adjust-hue, .rgba, .tint, .shade, .complement, .grayscale, .mix, .invert {
  float: left;
  height: 150px;
  line-height: 150px;
  text-align: center;
  width: 25%; }

.original {
  background: #11751D;
  width: 100%; }

.darken {
  background: #0b4812; }

.lighten {
  background: #17a228; }

.saturate {
  background: #048213; }

.desaturate {
  background: #1e6827; }

.adjust-hue {
  background: #11753e; }

.rgba {
  background: rgba(17, 117, 29, 0.7); }

.tint {
  background: #288233; }

.shade {
  background: #0f691a; }

.complement {
  background: #751169; }

.grayscale {
  background: #434343; }

.mix {
  background: #cf1705; }

.invert {
  background: #ee8ae2; }

.button {
  background: rgba(17, 117, 29, 0.8);
  border: 1px solid #041c07;
  color: #fff;
  float: left;
  text-shadow: 0 -1px 0 #0b4812;
  padding: 20px; }
  .button:hover {
    background: #11751d;
    color: #17a228; }
