!!! 5
%html
	%head
		%meta{ :charset=>"utf-8"}
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		%title
			Introduction to HAML
		%meta{ :name=>"description", :content=>""}
		%meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1"}
		%link{:rel=>"stylesheet", :href=>"css/type.css"}
	%body
		%section
			%h1
				Headline 1
			%h2
				Headline 2
		%section
			%h3
				Headline 3
			%h4
				Headline 4
			%h5
				Headline 5
			%h6
				Headline 6

			%p
				Base unit size with base line-height

			%p
				Second paragraph