!!! 5
%html
	%head
		%meta{ :charset=>"utf-8"}
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		%title
			Introduction to HAML
		%meta{ :name=>"description", :content=>""}
		%meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1"}
		%link{:rel=>"stylesheet", :href=>"css/grid-static.css"}
	%body
		.container.clearfix.box-size
			.one-half.grid-item.box-size
				2 column grid, equal widths. Column 1
			.one-half.grid-item.box-size
				2 column grid, equal widths. Column 2
		.container.clearfix.box-size
			.one-third.grid-item.box-size
				2 column grid, unequal widths. Column 1, 1/3 width
			.two-thirds.grid-item.box-size
				2 column grid, unequal widths. Column 2, 2/3 widdt