/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Cabin; }

h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700; }

h2 {
  font-size: 28.8px;
  line-height: 43.2px;
  font-weight: 700; }

h3 {
  font-size: 25.6px;
  line-height: 38.4px;
  font-weight: 700; }

h4 {
  font-size: 22.4px;
  line-height: 33.6px;
  font-weight: 700; }

h5 {
  font-size: 19.2px;
  line-height: 28.8px;
  font-weight: 700; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px; }

html {
  background: #ddd; }

.container {
  background: #fff; }

.container {
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .container {
      width: 95%; } }

[class*='column-'] {
  float: left;
  padding: 15px;
  width: 100%; }

p {
  width: 90%; }
  @media only screen and (min-width: 40em) {
    p {
      width: 100%; } }

@media only screen and (min-width: 40em) {
  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .column-1 {
    width: 8.3333333333%; }

  .column-2 {
    width: 16.6666666667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.3333333333%; }

  .column-5 {
    width: 41.6666666667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.3333333333%; }

  .column-8 {
    width: 66.6666666667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.3333333333%; }

  .column-11 {
    width: 91.6666666667%; }

  .column-12 {
    width: 100%; } }
@media only screen and (min-width: 55em) {
  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-1 {
    width: 4.1666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-2 {
    width: 8.3333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-3 {
    width: 12.5%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-4 {
    width: 16.6666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-5 {
    width: 20.8333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-6 {
    width: 25%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-7 {
    width: 29.1666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-8 {
    width: 33.3333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-9 {
    width: 37.5%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-10 {
    width: 41.6666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-11 {
    width: 45.8333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-12 {
    width: 50%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-13 {
    width: 54.1666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-14 {
    width: 58.3333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-15 {
    width: 62.5%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-16 {
    width: 66.6666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-17 {
    width: 70.8333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-18 {
    width: 75%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-19 {
    width: 79.1666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-20 {
    width: 83.3333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-21 {
    width: 87.5%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-22 {
    width: 91.6666666667%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-23 {
    width: 95.8333333333%; }

  .huge-column-1, .huge-column-2, .huge-column-3, .huge-column-4, .huge-column-5, .huge-column-6, .huge-column-7, .huge-column-8, .huge-column-9, .huge-column-10, .huge-column-11, .huge-column-12, .huge-column-13, .huge-column-14, .huge-column-15, .huge-column-16, .huge-column-17, .huge-column-18, .huge-column-19, .huge-column-20, .huge-column-21, .huge-column-22, .huge-column-23, .huge-column-24 {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 10px; }

  .huge-column-24 {
    width: 100%; } }
